<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="js/main.js"></script>
  <title><%= @title %></title>
</head>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="jumbotron"><%= @page_header %></h1>
    </div>
  </div>
</div>
