<%= erb :header %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-6 col-center">
      <div class="puzzle"><%= @puzzle %></div>
      <form action="/puzzle">
        <input class="form-control" name="user_guess">
        <button class="btn  btn-block btn-danger" type="submit">Submit</submit>
      </form>
    </div>
  </div>
</div>
